body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #Edf1f6;
}
.left-section2 h1 {
    font-size: 2.25em; 
    margin: 0;
    color: #081f5c;
}

.left-section2 p {
    margin: 0.625em 0; 
    font-size: 1em; 
    color: #081f5c;
}

h2 {
    color: #081f5c;
}
.loaded {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.loaded-content {
    background-color: white;
    padding: 1.25em;
    border-radius: 0.625em; 
    text-align: center;
}

.loaded-content button {
    margin: 0.625em; 
    padding: 0.625em 1.25em; 
    font-size: 1em; 
    border: none;
    border-radius: 0.3125em; 
    cursor: pointer;
}

.loaded-content button:hover {
    background-color: #ddd;
}

.container2 {
    display: flex;
    width: 85%; 
    height: 80%; 
    box-shadow: 0px 0.25em 0.625em rgba(211, 210, 210, 0.1); 
    border-radius: 0.625em; 
    overflow: hidden;
}

.left-section2 {
    flex: 1;
    background-color: #7096D1;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
}

.left-section2 h1 {
    font-size: 1.5em; 
    margin: 0;
}

.left-section2 p {
    margin: 0.625em 0; 
    font-size: 1em; 
}

.right-section2 {
    flex: 1.2;
    background-color: #fff;
    padding: 2.5em; 
    display: flex;
    flex-direction: column;
}

form {
    display: block; 
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    gap: 1.25em; 
}

label {
    font-weight: bold;
    margin-bottom: 0.3125em; 
}

input, .gender-options, select {
    padding: 0.625em; 
    border: 0.0625em solid #ddd; 
    border-radius: 0.3125em; 
    width: 100%;
    max-width: 25em; 
    box-sizing: border-box;
    margin-bottom: 0.9375em; 
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 0.3125em;
}

input[type="radio"] {
    margin: 0;
    width: auto;
}

.submit-button {
    display: inline-block;
    padding: 0.9375em 1.875em; 
    background-color: #334eac;
    color: white;
    text-decoration: none;
    font-size: 1.125em; 
    border-radius: 0.5em; 
    margin-bottom: 0.9375em; 
}

.submit-button:hover {
    background-color: rgba(187, 210, 248, 0.842);
}

ul {
    list-style-type: none;
}
